@media only screen and (max-width: 1600px){
    .flexContainer div{
        width: 55%;
    }
    .flexContainer figure{
        width: 40%;
    }

    .other-info iframe{
        width: 400px;
    }
}

@media only screen and (max-width: 1800px){
    #arrow{
        width: 150px;
    }
}

@media only screen and (max-width: 1400px){
    .projectLink{
        width: 150px;
    }

    .flexContainer div{
        width: 50%;
    }
    .flexContainer figure{
        width: 48%;
    }
}


@media only screen and (max-width: 1350px){
    .other-info iframe{
        width: 350px;
    }
    .flexContainer figure{
        width: 48%;
        height: 90%;
    }
}


@media only screen and (max-width: 1200px) {
    /* Universal Styles */
    html {
        font-size: 16px;
    }

    /* Specialties */
    .specialtiesWrap .specialTitle {
        font-size: 1.15em;
    }
    .specialtiesWrap p{
        font-size: 0.9rem;
    }

    /* About */
    .flexContainer{
        flex-direction: column;
    }
    .flexContainer figure{
        align-self: center;
        margin-bottom: 1.25rem;
    }
    .flexContainer div{
        width: 100%;
    }

    /* Contact */
    .form-content{
        flex-direction: column;
    }
    form{
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .other-info iframe{
        width: 100%;
        height: 500px;
    }
}


@media only screen and (max-width: 1075px) {

    /* Specialties */
    #mySpecialties {
        margin-bottom: 0;
    }
    .specialtiesWrap {
        height: auto;
        flex-direction: column;
    }
    .specialtiesWrap .specContainer {
        height: 85%;
        margin-bottom: 2em;
    }
    .specialtiesWrap div:last-child {
        margin-bottom: 0;
    }

    @keyframes arrow {
        0% {top: -115vh; left: 46%; opacity: 0;}
        25% {opacity: 0;}
        50% {opacity: 0;}
        75% {opacity: 0.3;}
        100% {top: -28vh; left: 46%; opacity: 1;}
    }

    /* Projects */
    .grid {
        /* grid-gap: 3rem; */
        grid-template-columns: 1fr;
    }

    /* Contact */
    #about figure {
        width: 50%;
    }
}


@media only screen and (max-width: 800px) {
    #arrow {
        display: none;
    }
    #scrollLine {
        display: none;
    }
    ::-webkit-scrollbar{
        visibility: visible;
    }

    /* Left Column */
    #leftCol{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 275px;
        transform: translateX(-275px);
        min-height: 100vh;
        transition: transform 0.4s ease-out;
    }
    #empty_span{
        display: block;
    }
    #leftCol.show{
        transform: translateX(0);
        transition: transform 0.2s ease-in;
    }
    #close{
        visibility: visible;
        font-size: 2.5rem;
        position: absolute;
        top: 20px;
        right: 20px;
        transform: rotate(0);
        transition: all 0.4s;
    }
    #close:hover{
        transform: rotate(-180deg);
        top: 14px;
        cursor: pointer;
        transition: all 0.3s;
    }
    /* Right Column */
    #rightCol {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }

    header{
        height: auto;
        position: relative;
        width: 100%;
        padding: 12px 0;
    }
    #mobileNav{
        visibility: visible;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #mobileNav #open{
        font-size: 2.5rem;
        transition: 0.5s ease-out;
        color: #fff;
        display: block;
        cursor: pointer;
    }
    #mobileNav #open:hover{
        color: #8B8B8B;
        transition: color 0.3s ease-in;
    }
    #mobileNav #open:active{
        transform: scale(0.97);
    }
    #mobileNav .logo{
        width: 8%;
    }

    .mobileBanner{
        visibility: visible;
        height: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .mobileBanner div{
        margin: 0 auto;
        width: 68%;
        font-size: 1.85rem;
    }
    .mobileBanner div h1{
        margin-bottom: 1rem;
    }

    #mySpecialties{
        padding-top: 2.5rem;
    }
    .specialtiesWrap .icon{
        font-size: 3.25rem;
    }

    .projectTitle{
        font-size: 1.1rem;
    }

    /* About */
    .flexContainer figure {
        width: 40%;
        padding: 12px 12px 1.5rem 12px;
    }
    #modal-content {
        width: 95%;
    }

    .other-info iframe{
        height: 300px;
    }
    .contactInfo{
        visibility: visible;
    }
}